<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lucub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .test {
        margin-bottom: 0px;
      }
    </style>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Lucub</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <form>
            <fieldset>
              <input type="button" class="btn btn-primary" value="New Meal" onclick="location.href='/meals/new'">
            </fieldset>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Restaurant</th>
                <th>Guests</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @meals.each do |meal| %>
              <a>
                <tr>
                  <td><%= meal.name %></td>
                  <td><%= meal.date.strftime("%B %e") %></td>
                  <td><%= meal.time.strftime("%I:%M %p") %></td>
                  <td><%= meal.location %></td>
                  <td>
                    <% if meal.restaurant.nil? && @user.id == meal.host.id %>
                      <input type="button" class="btn btn-primary" value="Choose" onclick="location.href='/meals/<%= meal.id %>/restaurants/1'">
                    <% else %>
                      <%= meal.restaurant.name if meal.restaurant %>             
                    <% end %>
                  </td>
                  <td><%= meal.users.map{|user| user.first_name}.join(", ") %></td>
                  <td>
                    <input type="button" class="btn" value="View" onclick="location.href='/meals/<%= meal.id %>'">     
                  </td>
                  <td>
                    <% if @user.id == meal.host.id %>
                      <input type="button" class="btn btn-warning" value="Edit" onclick="location.href='/meals/<%= meal.id %>/edit'">                  
                    <% else %>
                      <input type="button" class="btn btn-primary" value="Vote" onclick="location.href='/meals/<%= meal.id %>/votes/new'">              
                    <% end %>                   
                  </td>
                  <td>
                    <form class="test" action="/meals/<%= meal.id %>/delete" method="POST">
                      <input type="submit" class="btn btn-danger" value="<%= (@user.id == meal.host.id)? 'Cancel' : 'Decline' %>">
                    </form>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>